* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p, span, a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0;
    box-shadow: 0 0 8px 1px rgba(0,0,0,.8);
}

nav ul {
    margin: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    width: 50%;
}

nav ul li {
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
    color: #000;
}

nav ul li:hover a {
    cursor: pointer;
    background-color: #10131E;
    color: #fff;
}

.container {
    margin: 0 4rem;
}

/* MISSION SECTION */

#mission {
    background-color: #10131E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mission .container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: #fff;
}

#mission .container .content {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}

#mission .container .content p {
    padding-left: 3rem;
    color: #fff;
}

/* PORTFOLIO SECTION */

#portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portfolio .container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

#portfolio .container .content {
    display: flex;
    justify-content: center;
    max-width: 55%;
    flex-wrap: wrap;
    margin: auto;
    gap: 45px;
}

/* TEAM SECTION */
#team {
    background-color: #10131E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#team .container .content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

#team .container .content .item {
    color: #fff;
    text-align: center;
}

#team .container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: #fff;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 2rem 0;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0 15px;
    }

    header nav ul {
        width: 100%;
    }

    /* MISSION */

    #mission, #portfolio, #team {
        padding: 10rem 0;
        height: auto;
    }

    #mission .container .content {
        flex-direction: column;
        width: 100%;
    }

    #mission .container .content img {
        width: 100%;
    }

    #mission .container .content p {
        padding: 0;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    /* PORTFOLIO */

    #portfolio .container {
        margin: 0;
    }

    #portfolio .container .content .item {
        width: 100%;
        text-align: center;
    }

    #portfolio .container .content .item img {
        width: 100%;
    }

    /* TEAM */

    #team .container .content {
        flex-direction: column;
    }

    #team .container .item img {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    /* MISSION */
    #mission .container .content {
        width: 100%;
        gap: 20px;
    }

    #mission .container .content p {
        padding: 0;
    }

    /* PORTFOLIO */

    #portfolio, #team {
        padding: 12rem 0;
        height: auto;
    }

    #portfolio .container, #team .container {
        margin: auto;
    }

    #portfolio .container .content {
        max-width: 100%;
        gap: 15px;
    }

    /* TEAM */

    #team .container .content {
        width: 100%;
        flex-wrap: wrap;
    }

    #team .container .content .item {
        flex: 1 2 255px;
    }
}